name: build

env:
  # v: '2.0.2'
  v: '2.0.2-pre.2'
  av: '2.0.0'

on:
  push:
    branches: [ master ]
    paths-ignore: [ "docs/*" ]

  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build-lib:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      name: Check-out source code
      with:
        submodules: true
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: |
          6.0.x
          8.0.x
    - name: Install dependencies
      run: dotnet restore src/Stowage.sln

    - name: Build
      run: dotnet build src/Stowage.sln --configuration Release --no-restore /p:Version=${{ env.v }} /p:FileVersion=${{ env.v }} /p:AssemblyVersion=${{ env.av }}

    - name: Test
      run: dotnet test src/Stowage.sln -c release --filter Category!=Integration --no-restore --verbosity normal /p:Version=${{ env.v }} /p:FileVersion=${{ env.v }} /p:AssemblyVersion=${{ env.av }}

    - name: collect artifacts
      run: |
        mkdir artifacts
        cp src/Stowage/bin/Release/*.nupkg artifacts/
        echo "${{ env.v }}" >> artifacts/version.txt
        cp docs/release-history.md artifacts/

    - uses: actions/upload-artifact@v3
      name: upload artifacts
      with:
        name: lib
        path: artifacts/*


